<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
    <display-name>ib Tapestry 5 Application</display-name>

    <context-param>
        <param-name>tapestry.app-package</param-name>
        <param-value>com.dwidasa.ib</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/applicationContext-resources.xml
            classpath:/applicationContext-dao.xml
            classpath:/applicationContext-service.xml
            classpath:/applicationContext.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>tapestry.use-external-spring-context</param-name>
        <param-value>true</param-value>
    </context-param>

    <filter>
        <filter-name>app</filter-name>
        <filter-class>org.apache.tapestry5.spring.TapestrySpringFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>app</filter-name>
        <!-- ib pattern -->
        <url-pattern>/*</url-pattern>
        <!-- mb/kiosk pattern -->
        <!--<url-pattern>/rest/*</url-pattern>-->
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.dwidasa.engine.listener.StartupListener</listener-class>
    </listener>
    <listener>
	    <listener-class>com.dwidasa.engine.listener.MyHttpSessionEventPublisher</listener-class>
	</listener>
 
    <session-config>
	    <session-timeout>3</session-timeout>
	</session-config>
</web-app>